<h1><%= @book.title %></h1>

<p><strong>Genre:</strong> <%= @book.genre %></p>
<p><strong>Publication Year:</strong> <%= @book.publication_year %></p>
<p><strong>Is Published:</strong> <%= @book.is_published %></p>
<p><strong>Author:</strong> <%= @book.author.name %></p>